body{
    font-size: 16px;
}

/*Navbar*/
.navbar {
    background-color: gray;
    border-radius: 0;
    border: 4px black solid;
    min-height: 100px;
  }

.navbar-brand h1{
    font-size: 2em;
    padding-top: 10px;
    
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
  }

#nav-list {
    margin-top: 10px;
  }
#nav-list  {
    background: white;
    text-align: center;
    border: 1px black solid;
    
  }
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
    
  }
.navbar-default .navbar-toggle {
    border-color: #000000;
  }

.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 4px;
    border-radius: 1px;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
font-weight: bold;}
li{
    border: 1px black solid;
}
/*main content*/
.row {
    margin-right: 50px;
    margin-left: 50px;
}
h1{
    font-weight: bold;
    color: black;
    margin-bottom: 25px;
}
h2,p{
    font-weight: bold;
    color: black;
}


.col-xs-12{
    margin-bottom: 20px;
    background-color: gray;
opacity: 0.8;
}
